<ul>
  <li><a href="#example">Example</a></li>
  <li><a href="#building">Building</a></li>
  <li><a href="#running">Running</a></li>
  <li>
    <a href="#core">Core</a>
    <ul>
      <li><a href="#flowgraph">Flowgraph</a></li>
      <li><a href="#block">Block</a></li>
      <li><a href="#composite-block">Composite Block</a></li>
      <li><a href="#data-types">Data Types</a></li>
      <li><a href="#asynchronous-control">Asynchronous Control</a></li>
    </ul>
  </li>
  <li>
    <a href="#blocks">Blocks</a>
    <ul>
      {% for category in categories -%}
        <li>
          <a href="#{{ category.replaceAll(" ", "-").toLowerCase() }}">{{ category }}</a>
          <ul>
            {% for block, _ in refman.blocks[category] -%}
            <li><a href="#{{ block.toLowerCase() }}">{{ block }}</a>
            {% endfor -%}
          </ul>
        </li>
      {% endfor -%}
    </ul>
  </li>
</ul>
